* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
div {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: HelveticaNeueThin;
  src: url("./public/fonts/HelveticaNeueThin.otf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeueUltraLight;
  src: url("./public/fonts/HelveticaNeueUltraLight.otf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeueLight;
  src: url("./public/fonts/HelveticaNeueLight.otf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeueRoman;
  src: url("./public/fonts/HelveticaNeueRoman.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeueMedium;
  src: url("./public/fonts/HelveticaNeueMedium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: HelveticaNeueBold;
  src: url("./public/fonts/HelveticaNeueBold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html {
  font-family: "HelveticaNeueRoman", sans-serif;
  font-size: 10px;
  color: #f2f2f2;
  scroll-behavior: smooth;
}

body {
  background: #181818;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  position: relative;
  padding-top: 125px;
}
@media screen and (max-width: 767px) {
  main {
    padding-top: 70px;
  }
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image--h-auto {
  height: auto;
}
.image--auto {
  width: auto;
}
.image--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.cursor-glow {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  opacity: 0.2;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-block: 30px 40px;
  z-index: 999;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1.5s linear;
  transition: 1.5s linear;
}
@media screen and (max-width: 767px) {
  .header {
    padding-block: 15px 20px;
  }
}
.header__container {
  padding: 0 4%;
  margin: 0 auto;
  max-width: calc(1440px + 8%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .header__container {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__logo {
  height: 55px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    height: 35px;
  }
}

.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mode {
  position: fixed;
  bottom: 20px;
  z-index: 99;
  padding-left: 25px;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1.5s linear;
  transition: 1.5s linear;
}
.mode__container {
  padding: 0 4%;
  margin: 0 auto;
  max-width: calc(1440px + 8%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .mode__container {
    max-width: 100%;
  }
}
.mode__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.mode__row {
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  font-family: "HelveticaNeueLight", sans-serif;
}
@media screen and (max-width: 767px) {
  .mode__row {
    font-size: 12px;
  }
}
.mode__row input[type=radio] {
  display: none;
}
.mode__row span {
  cursor: pointer;
  position: relative;
  text-shadow: 0 3px 5px rgba(242, 242, 242, 0.4);
}
.mode__row span::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
}
@media screen and (max-width: 767px) {
  .mode__row span::before {
    width: 10px;
    height: 10px;
  }
}
.mode__row span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #8758ff;
  border: 2px solid #8758ff;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
@media screen and (max-width: 767px) {
  .mode__row span::after {
    width: 10px;
    height: 10px;
  }
}
.mode__row input[type=radio]:checked + span::before {
  border-color: #8758ff;
}
.mode__row input[type=radio]:checked + span::after {
  -webkit-transform: translateY(-50%) scale(0.55);
          transform: translateY(-50%) scale(0.55);
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  -webkit-transition: 2s linear;
  transition: 2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preload__logo {
  height: 120px;
  -webkit-animation: roll 3s linear infinite;
          animation: roll 3s linear infinite;
}
@media screen and (max-width: 767px) {
  .preload__logo {
    height: 80px;
  }
}
.preload__counter {
  font: 400 12rem "Bebas Neue", sans-serif;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
@media screen and (max-width: 767px) {
  .preload__counter {
    font-size: 80px;
  }
}

@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.top {
  padding: 0 4%;
  margin: 0 auto;
  max-width: calc(1440px + 8%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1.5s linear;
  transition: 1.5s linear;
}
@media screen and (max-width: 767px) {
  .top {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.top__heading {
  color: #8758ff;
  font: 400 2.8rem "Bebas Neue", sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .top__heading {
    font-size: 21px;
    margin-bottom: 20px;
  }
}
.top__aside {
  position: fixed;
  overflow: hidden;
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1024px) {
  .top__aside {
    position: relative;
    width: 100%;
    gap: 0;
  }
}
.top__main {
  height: 100%;
  margin-left: 50%;
  padding-left: 5%;
  padding-bottom: 80px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media screen and (max-width: 1024px) {
  .top__main {
    margin-left: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .top__main {
    padding-bottom: 60px;
  }
}
.top__main::-webkiit-scrollbar {
  display: none;
}
.top__aside-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .top__aside-head {
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .top__aside-head {
    height: 100%;
  }
}
.top__name {
  font: 400 6rem "Bebas Neue", sans-serif;
}
@media screen and (max-width: 767px) {
  .top__name {
    font-size: 40px;
  }
}
.top__position {
  color: #8758ff;
  font-size: 2.4rem;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .top__position {
    font-size: 18px;
  }
}
.top__aside-desc {
  margin-top: 20px;
  font-family: "HelveticaNeueLight", sans-serif;
  font-size: 1.6rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .top__aside-desc {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .top__aside-nav {
    display: none;
  }
}
.top__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .top__link-list {
    gap: 10px;
  }
}
.top__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .top__link {
    font-size: 14px;
    gap: 15px;
  }
}
.top__link::before {
  content: "";
  background: #f2f2f2;
  width: 45px;
  height: 1px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .top__link::before {
    width: 30px;
  }
}
.top__link:hover {
  color: #5cb8e4;
}
.top__link:hover::before {
  background: #5cb8e4;
  width: 90px;
}
@media screen and (max-width: 767px) {
  .top__link:hover::before {
    width: 60px;
  }
}
.top__link.is-active {
  color: #5cb8e4;
}
.top__link.is-active::before {
  background: #5cb8e4;
  width: 90px;
}
@media screen and (max-width: 767px) {
  .top__link.is-active::before {
    width: 60px;
  }
}
.top__aside-block {
  max-height: 300px;
}
@media screen and (max-width: 1024px) {
  .top__aside-block {
    max-height: 100%;
  }
}
.top__aside-about-block {
  opacity: 0;
  max-height: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}
@media screen and (max-width: 1024px) {
  .top__aside-about-block {
    opacity: 1;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.top__aside-about-block.is-show {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.top__aside-project-block, .top__aside-contact-block {
  opacity: 0;
  max-height: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}
.top__aside-project-block.is-show, .top__aside-contact-block.is-show {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.top__aside-about-asvg, .top__aside-project-asvg, .top__aside-contact-asvg {
  width: 270px;
  height: 270px;
  margin: 0 auto;
}
.top__aside-about-item {
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.top__aside-about-item.is-active {
  opacity: 1;
}
.top__about {
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .top__about {
    padding-bottom: 40px;
  }
}
.top__about-desc {
  width: 100%;
  max-width: 539px;
  font-size: 1.6rem;
  font-family: "HelveticaNeueLight", sans-serif;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .top__about-desc {
    font-size: 12px;
  }
}
.top__skills-splide {
  margin-bottom: 30px;
}
.top__skills-slide.is-active .top__skills-icon {
  border: 1px solid #8758ff;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.top__skills-icon {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #9c9a9a;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .top__skills-icon {
    width: 60px;
    height: 60px;
    padding: 5px;
  }
}
.top__skills-icon:hover {
  border: 1px solid #8758ff;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.top__exp-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.top__exp-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4%;
}
.top__exp-year {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20%;
  font-size: 1.4rem;
  font-family: "HelveticaNeueLight", sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .top__exp-year {
    width: 30%;
    font-size: 12px;
  }
}
.top__exp-details {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 767px) {
  .top__exp-details {
    width: 70%;
  }
}
.top__exp-position {
  font-size: 1.8rem;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .top__exp-position {
    font-size: 16px;
  }
}
.top__exp-company {
  color: #5cb8e4;
  font: 400 2.4rem "Bebas Neue", sans-serif;
}
@media screen and (max-width: 767px) {
  .top__exp-company {
    font-size: 21px;
  }
}
.top__exp-desc {
  font-size: 1.6rem;
  font-family: "HelveticaNeueLight", sans-serif;
  line-height: 1.375em;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .top__exp-desc {
    font-size: 12px;
  }
}
.top__cv-block {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .top__cv-block {
    margin-top: 30px;
  }
}
.top__cv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  color: #5cb8e4;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .top__cv {
    font-size: 14px;
  }
}
.top__cv::before, .top__cv::after {
  content: "";
  width: 0;
  height: 1px;
  background: #5cb8e4;
  display: block;
  position: absolute;
  bottom: -5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.top__cv::before {
  left: 0;
}
.top__cv::after {
  right: 0;
}
.top__cv:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.top__cv:hover::before {
  left: 50%;
  width: 50%;
}
.top__cv:hover::after {
  right: 50%;
  width: 50%;
}
.top__project {
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .top__project {
    padding-bottom: 40px;
  }
}
.top__project-desc {
  font-family: "HelveticaNeueLight", sans-serif;
  font-size: 1.6rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .top__project-desc {
    font-size: 12px;
  }
}
.top__project-item.is-active .top__project-link {
  color: #8758ff;
  -webkit-transform: translateX(-10%) scale(1.2);
          transform: translateX(-10%) scale(1.2);
}
.top__project-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .top__project-link {
    gap: 10px;
  }
}
.top__project-link:hover {
  color: #8758ff;
  -webkit-transform: translateX(-10%) scale(1.2);
          transform: translateX(-10%) scale(1.2);
}
.top__project-info {
  font-size: 1.4rem;
  font-family: "HelveticaNeueLight", sans-serif;
}
@media screen and (max-width: 767px) {
  .top__project-info {
    font-size: 12px;
  }
}
.top__project-name {
  font: 400 4rem "Bebas Neue", sans-serif;
}
@media screen and (max-width: 767px) {
  .top__project-name {
    font-size: 21px;
  }
}
.top__contact {
  font-family: "HelveticaNeueLight", sans-serif;
  font-size: 1.6rem;
  line-height: 1.375em;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .top__contact {
    font-size: 12px;
  }
}
.top__contact-icon-list {
  margin-block: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .top__contact-icon-list {
    margin-block: 30px;
  }
}
.top__contact-icon-item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.top__contact-icon-item::before {
  content: "";
  background: #8758ff;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .top__contact-icon-item::before {
    width: 18px;
    height: 18px;
  }
}
.top__contact-icon-item.gmail::before {
  content: "";
  -webkit-mask: url("./public/img/icons/gmail.svg") no-repeat center/contain;
          mask: url("./public/img/icons/gmail.svg") no-repeat center/contain;
}
.top__contact-icon-item.linkedin::before {
  content: "";
  -webkit-mask: url("./public/img/icons/linkedin.svg") no-repeat center/contain;
          mask: url("./public/img/icons/linkedin.svg") no-repeat center/contain;
  width: 25px;
  height: 25px;
  margin-left: -3px;
}
@media screen and (max-width: 767px) {
  .top__contact-icon-item.linkedin::before {
    width: 21px;
    height: 21px;
  }
}
.top__contact-icon-item.ig::before {
  content: "";
  -webkit-mask: url("./public/img/icons/ig.svg") no-repeat center/contain;
          mask: url("./public/img/icons/ig.svg") no-repeat center/contain;
}
.top__contact-icon-item:hover {
  color: #8758ff;
}

.overflow {
  overflow: hidden;
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.light-mode {
  color: #181818;
}
.light-mode body {
  background: #f2f2f2;
}
.light-mode .main-bg {
  mix-blend-mode: difference;
}
.light-mode .header__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.light-mode .top__link::before {
  background: #181818;
}
.light-mode .mode__row span {
  text-shadow: 0 3px 5px rgba(135, 88, 255, 0.4);
}
.light-mode .mode__row span::before {
  border: 2px solid #181818;
}
.light-mode .cursor-glow {
  background: rgba(135, 88, 255, 0.4);
  -webkit-box-shadow: 0 0 100px 100px rgba(135, 88, 255, 0.4);
          box-shadow: 0 0 100px 100px rgba(135, 88, 255, 0.4);
}
